@font-face {
    font-family: 'poppin1', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    src: url(../font/working.zip);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
}

body {
    width: 100%;
    max-width: 1200px;
    background-image: linear-gradient(rgba(196, 193, 193, 0.877), rgba(177, 174, 174, 0.856)), url('imagenes/fondo2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


}

img {
    width: 100%;
}

header .encabezado {
    background-image: url('imagenes/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    height: 398px;
    width: 100%;
    max-width: 1200px;
    position: relative;
    /*position: fixed;*/
}


h1 {
    text-align: center;
    color: white;
}

h2 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}

nav {
    position: absolute;
    bottom: 25px;
    left: 20px;
    font-size: 17px;
}

nav a {
    color: white;
    box-shadow: 3px 1px 3px 2px white;
    text-decoration: none;
    width: 200px;
    display: inline-block;
    text-align: center;

}

.encabezado p {}

.video cite {
    display: block;
    margin: auto;
}

.video {
    width: 90%;
    aspect-ratio: 16 / 9;
    display: block;
    margin: auto;
}

.parte2 {
    min-height: 100vh;
    display: flex;
    gap: 2%;
    padding: 15px 0;
}

.parte2>div {
    flex-basis: 33%;
}

h2 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    /* Texto negro como en el segundo archivo */
}

p {
    text-align: justify;
    line-height: 23px;
    padding-bottom: 25px;
    font-weight: bold;
}

footer {
    min-height: 15vh;
    display: flex;
    align-items: center;
    gap: 1%;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.4);
    /* Fondo del footer */
    color: white;
    /* Texto blanco en el footer */
}

footer .contenedor2 img {
    width: 80px;
    padding: 10px;
}

footer a {
    color: azure;
    /* Enlaces en el footer */
}

footer p {
    text-align: center;
}

@media screen and (max-width: 900px) {
    .parte1 {
        flex-direction: column;
    }

    .parte2 {
        flex-direction: column;
    }
}